:root {
    --c-brand: rgba(64, 158, 255, 1);
    --c-brand-light: rgba(64, 158, 255, 1);
    --c-text-lighter: var(--c-brand);
    scroll-behavior: smooth;
}

// 暗主题下
html.dark {
    --c-brand: rgba(64, 158, 255, 1);
    --c-brand-light: rgba(64, 158, 255, 1);
}